<div class="page-header">
  <%= link_to new_precaution_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Precaution
  <% end %>
  <h1>Listing precautions</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Name</th>
            <th>Details</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @precautions) do |precaution| %>
            <td><%= precaution.name %></td>
            <td><%= precaution.details %></td>
            <td><%= link_to 'Show', precaution %></td>
        <td><%= link_to 'Edit', edit_precaution_path(precaution) %></td>
        <td><%= link_to 'Destroy', precaution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
