<div class="row prescription-new">
  <div class="col-sm-10 col-sm-offset-1">

    <%= simple_form_for(@prescription) do |f| %>
        <%= f.error_notification %>
        <div class="row prescription-user-summary">
          <div class="col-sm-6">
            <%= doctor_summary(@appointment).html_safe %>
          </div>
          <div class="col-sm-6 text-right">
            <%= patient_summary(@appointment).html_safe %>
            <div class="form-inputs inline-fields">
              <%= f.input :current_weight, label: 'Current Weight:', input_html: {class: 'age-field'} %> Kg
            </div>
            <h5><i><%= humanize_date(Date.today) %></i></h5>
          </div>
        </div>

        <div class="row">
          <hr/>
        </div>

        <div class="row well prescription-body">
          <div class="col-sm-12">
            <%= f.fields_for :problems do |p| %>
            <div class="form-group">
              <div class="row">
                <div class="col-sm-3">
                  Problem Name
                </div>
                <div class="col-sm-9">
                  <%= p.text_field :name, class: 'w100' %>
                </div>
              </div>
              <div class="row mt20">
                <div class="col-sm-3">
                  Problem Details
                </div>
                <div class="col-sm-9">
                  <%= p.text_area :details, class: 'w100' %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>

        <div class="row well">
          <div class="col-sm-12">
            <%= f.fields_for :prescribed_medicines do |pm| %>
            <div class="row mt20">
              <div class="col-sm-3">
                Medicine Name
              </div>
              <div class="col-sm-3">
                <%= pm.text_field :name %>
              </div>
              <div class="col-sm-3 text-center">
                Strength
              </div>
              <div class="col-sm-3 text-right">
                <%= pm.text_field :strength %>
              </div>
            </div>
            <div class="row mt20">
              <div class="col-sm-3">
                Dosage (per day)
              </div>
              <div class="col-sm-3">
                <%= pm.text_field :dosage %>
              </div>
              <div class="col-sm-3 text-center">
                Duration (days)
              </div>
              <div class="col-sm-3 text-right">
                <%= pm.text_field :duration %>
              </div>
            </div>
            <div class="row mt20">
              <div class="col-sm-3">
                Note
              </div>
              <div class="col-sm-9 text-right">
                <%= pm.text_area :note, class: 'w100' %>
              </div>
            </div>
            <!--<div class="row mt20">-->
              <!--<div class="col-sm-12">-->
                <!--<button class="btn btn-default pull-right"> + Add More Medicine</button>-->
              <!--</div>-->
            <!--</div>-->
            <% end %>
          </div>
        </div>

        <div class="row well mt20">
          <%= f.fields_for :medical_tests do |mt| %>

          <div class="col-sm-3">Test Name</div>
          <div class="col-sm-9 text-right">
            <%= mt.text_field :name, class: 'w100' %>
          </div>

          <!--<div class="col-sm-12 mt20">-->
            <!--<button class="btn btn-default pull-right"> + Add More Test</button>-->
          <!--</div>-->
          <% end %>
        </div>

        <div class="form-actions text-center mb20">
          <%= link_to doctors_appointments_path, :class => 'btn btn-default' do %>
              <span class="glyphicon glyphicon-remove"></span>
              Cancel
          <% end %>
          <%= f.hidden_field :appointment_id, value: params['appointment_id'] %>
          <%= f.button :button do %>
              <span class="glyphicon glyphicon-ok"></span>
              Done
          <% end %>
        </div>
    <% end %>
  </div>
</div>
