<%= simple_form_for(@prescribed_medicine) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :strength %>
    <%= f.input :dosage %>
    <%= f.input :duration %>
    <%= f.input :note %>
    <%= f.association :prescription %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
