<!--<h2>Sign in</h2>-->

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%#= f.input :email %>
    <%#= f.input :password %>

    <%# if devise_mapping.rememberable? -%>
    <div><%#= f.check_box :remember_me %> <%#= f.label :remember_me %></div>
    <%# end -%>

    <div><%#= f.submit "Sign in" %></div>


    <div class="container login-form" style="margin-top:30px">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <form role="form">
              <div class="form-group">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                  <%= f.input :email, label: false, placeholder: 'user@example.com' %>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group input-group-lg">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                  <%= f.input :password, label: false, placeholder: 'password' %>
                </div>
              </div>
              <% if devise_mapping.rememberable? -%>
                  <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
              <% end -%>
              <div><%= f.submit 'Sign in', class: 'btn btn-success btn-sm pull-right' %></div>
              <!--<button type="button" class="btn btn-success btn-sm">Sign in</button>-->
              <!--<button type="button" class="btn btn-primary btn-sm">Create account</button>-->
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>

<% end %>

