<div class="page-header">
  <%= link_to new_known_problem_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Known problem
  <% end %>
  <h1>Listing known_problems</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @known_problems) do |known_problem| %>
            <td><%= link_to 'Show', known_problem %></td>
        <td><%= link_to 'Edit', edit_known_problem_path(known_problem) %></td>
        <td><%= link_to 'Destroy', known_problem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
